@import "Variables.css";

.PanelRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--PanelPadding);
  gap: var(--MinimalGap);
}
.MinimalGap {
  display: flex;
  gap: var(--MinimalGap);
}

.Input {
  width: 150px !important;
  height: fit-content;
}

.SmallInput {
  width: 45px !important;
  height: fit-content;
}

.NzIcon {
  font-size: 20px;
}
